/* Don't change the existing CSS. */
#outer-box{
  background-color: purple;
  padding: 10px;
  color: yellow;
}

.box {
  background-color: blue;
  padding: 10px;
}


p {
  
  margin: 0;
  padding: 0;
}