body{
    background-color: black;
    width: 100%;
}
.container{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
    border:5px solid white;
}
.container img{
    width: 100%;
}
.container h1 ,.container p{
    text-align: center;
}
