body{ 
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    background-color: black;
}
.frame{
    width:500px;
    height: 200px;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin: auto;

}
h1{
    padding-left: 150px;
    margin-bottom:0px;

}
p{
   padding-left: 10px;
   margin-bottom: 7px;
   margin-top: 7px;
   font-style: italic;
}
h4{
    margin-top:0px;
    margin-bottom: 0px;
    padding-left: 10px;
}
ol{
   margin-top: 4px;
}
