.frame{
    width:500px;
    height: 200px;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin: auto;

}
h1{
    padding-left: 150px;
    margin:0px;
}
p{
   padding-left: 10px;
}
h4{
    margin-bottom: 0px;
    padding-left: 10px;
    
}
ol li{
   margin-top: 0px;
}
